nav{
    min-height:30px !important;
    height:30px;
}

.navbar-brand{
    height:30px;
    padding:3px 10px;
}

.navbar-toggle{
    height:25px;
    margin:2px 10px;
}

.my-label{
    display:inline-block;
}