{% extends "evaluaciones.html"%}
{% load staticfiles %}
{% block codigo %}
  <div class="container">
        <div class="jumbotron">
                <h1>Cambio de Contraseña</h1>
    <form action="" method="post" id="password_change_form">
      {% csrf_token %}
          {% for field in form %}
              <div class="profile-input w33">
                  <div class="profile-label" for="{{ field.name }}">{{ field.label }}</div>
                  {{ field }}
                  {{ field.errors }}
              </div>
          {% endfor %}
          <div class="profile-input w33">
              <input type="submit" class="input updatebtn" >
          </div>
    </form>


 </div>
  </div>
{% endblock %}


