<html>
<head>
<title>Create a Post </title>
</head>

<body>
<h1>Create a Post </h1>
<form action="" method="POST">

ID: <input type="text" name="title"/><br/>
Numero de periodos: <input type="text" name="per"/><br/>
Criterio 1: <input type="text" name="criterio"/><br/>
Criterio 2: <input type="text" name="criterio2"/><br/>
Criterio 3: <input type="text" name="criterio3"/><br/>
Content: <br/>
<textarea cols="35" rows="8" name="content">
</textarea><br/>
<input type="submit" value="Post"/>
</form>
</body>

</html>