{% extends 'registro/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Iniciar Sesión </h1>
<form method="post" action="{% url 'registro:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Usuario:</label>
          <input type="text" name="username" placeholder="Usuario">
<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Conectar">
</form>
</div>
  </div>
{% endblock %}